@charset "UTF-8";
/* TIPOGRAFIAS */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/* BOOTSTRAP */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/*----- Estilo Universal ------- */
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}

/* -------- BODY COLOR --------- */
body {
  background-color: #F0EBE6;
}

/* ------- HEADER ------- */
header {
  display: flex;
  flex-direction: row;
  background-color: #8ba76c;
  justify-content: space-between;
  align-items: center;
}
header a img {
  width: 7.1875rem;
  margin: 0.9375rem 0rem 0rem 3.125rem;
}
header button {
  display: none;
}
header nav button {
  display: none;
}
header nav ul {
  display: flex;
  list-style-type: none;
  gap: 1.25rem;
  flex-wrap: wrap;
  margin-right: 1.25rem;
  align-items: center;
}
header nav ul li {
  margin: 0rem;
  padding: 0.3125rem;
}
header nav ul li a {
  color: black;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  padding: 0.625rem;
  font-size: 0.9375rem;
}

.opc:hover {
  background-color: #748B5B;
}

/* ---------- FOOTER --------------- */
footer {
  display: flex;
  flex-direction: row;
  background-color: #8BA76C; /* Aplica color al fondo del nav */
  justify-content: space-between; /* Mueve el contenido */
  padding: 0rem 0.625rem;
}

.info-footer {
  display: flex;
  padding: 0.3125rem;
  margin: 0.625rem;
}
.info-footer div {
  margin: 0px 30px;
}
.info-footer div img {
  width: 2.5rem;
  margin: 10px 0px;
}
.info-footer div h2 {
  font-family: "Lato";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #013F18;
  text-align: justify;
}
.info-footer div p {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 0.9375rem;
  color: #FFFFFF;
  text-align: justify;
}

.titulo-footer {
  padding-top: 8px;
}

.redes-sociales {
  display: flex;
  align-items: center;
  margin-right: 3.125rem;
}
.redes-sociales a img {
  width: 6.25rem;
  text-decoration: none;
  padding: 1.5625rem;
}

/*------- MAIN INDEX ------------*/
.imagen-principal {
  width: 100%;
  height: auto;
  background-position: center;
}

.contenedor {
  margin-left: 3.125rem;
  margin-right: 3.125rem;
  padding: 1.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor img {
  width: 40%;
  margin: 0.3125rem;
}
.contenedor article p {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
  text-align: justify;
  line-height: 1.6em;
  padding-top: 0.625rem;
  margin: 1.25rem;
}

/*-------- MAIN SERVICIOS ------- */
.contenedor div h1 {
  color: black;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor div article {
  margin: 1.875rem 0rem;
}
.contenedor div div p {
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  text-align: justify;
  line-height: 1.6em;
}

.articulo-principal {
  display: flex;
  flex-direction: row;
  margin: 30px 0px;
}
.articulo-principal p {
  margin-top: 0px;
}

.lista-trabajos dl dt {
  color: black;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 18px;
}
.lista-trabajos dl dd {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  text-align: justify;
  line-height: 1.6em;
  margin-left: 1.25rem;
}

/* -------- MAIN SUCURSALES --------- */
.main-ns {
  background: url(../assets/Img/fondo3-3.png);
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen en la página */
  background-repeat: no-repeat;
}

.grid2 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0.125rem;
  grid-row-gap: 0.125rem;
  grid-template-areas: "suc1 suc2" "suc3 suc4";
}
.grid2 div {
  position: relative;
  margin: 1.25rem;
  display: flex; /* Añadir flexbox */
  flex-direction: column; /* Alinear elementos en columna */
  justify-content: center; /* Centrar verticalmente */
  align-items: center; /* Centrar horizontalmente */
  text-align: center; /* Centrar el texto */
}
.grid2 div h2 {
  color: black;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid2 div img {
  height: 6.25rem;
  width: 20rem;
  object-fit: cover;
}
.grid2 div iframe {
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem;
  width: 20rem;
  height: 18.875rem;
}

.suc1 {
  grid-area: suc1;
}

.suc2 {
  grid-area: suc2;
}

.suc3 {
  grid-area: suc3;
}

.suc4 {
  grid-area: suc4;
}

/* ------- MAIN CONTACTO -------- */
.main-contacto {
  background: url(../assets/Img/fondo3-3.png);
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen en la página */
  background-repeat: no-repeat;
}
.main-contacto div h1 {
  color: black;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid3 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0.125rem;
  grid-row-gap: 0.125rem;
  margin: 0px 0px 0px 50px;
  grid-template-areas: "cont1 cont2";
}
.grid3 div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; /* Centrar verticalmente */
  margin: 1.25rem;
}
.grid3 div img {
  width: 3.125rem;
  margin: 10px 0px;
}
.grid3 div div {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
  align-items: start;
}

/* -------- GALERIA DE IMG --------- */
.galeria {
  margin-top: 4.6875rem;
  margin-bottom: 1.5625rem;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0.125rem;
  grid-row-gap: 0.125rem;
  grid-template-areas: "div1 div1 div2 div3" "div4 div5 div6 div3";
}
.galeria div {
  position: relative;
}
.galeria div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.div1 {
  grid-area: div1;
}

.div2 {
  grid-area: div2;
}

.div3 {
  grid-area: div3;
}

.div4 {
  grid-area: div4;
}

.div5 {
  grid-area: div5;
}

.div6 {
  grid-area: div6;
}

/* -------- FORMULARIO - CONTACTO -------- */
.texto-titul {
  color: black;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario {
  background-color: rgba(140, 167, 108, 0.6431372549);
  padding: 20px;
  width: 600px;
  height: 700px;
}
.formulario p {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-align: justify;
  line-height: 1.6em;
  padding-top: 10px;
  margin: 20px;
}
.formulario p label input {
  width: 500px;
  height: 50px;
  padding: 15px;
}
.formulario p label textarea {
  width: 500px;
  height: 150px;
  padding: 15px;
}

.boton-enviar2 {
  padding: 10px 25px;
  margin-right: 40px;
  float: right;
}

/* ------- CARGA DE CV - CONTACTO -------- */
.cv-info {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.cv-info input {
  padding: 7px;
}

.boton-enviar1 {
  padding: 10px 15px;
  margin: 10px 75px;
}

/* ---- MediaQuerry 768 ---- */
@media (max-width: 768px) {
  /* -------- HEADER 768 ------- */
  header nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #8BA76C;
    padding: 0.625rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.404);
    z-index: 5;
  }
  header nav ul {
    flex-direction: column;
    align-items: center;
    margin: 0px;
  }
  header nav ul li {
    padding: 5px;
    margin: 0px 0px 10px 0px;
  }
  .abrir-menu {
    margin-right: 3.125rem;
  }
  .abrir-menu,
  .cerrar-menu {
    display: block;
    padding: 5px;
    border: 0;
    font-size: 25px;
    background-color: transparent;
    cursor: pointer;
  }
  .nav.visible {
    opacity: 1;
    visibility: visible;
  }
  /* ------- FOOTER 768 --------- */
  .info-footer {
    padding: 0.1875rem;
    margin: 0.3125rem;
  }
  .info-footer div img {
    width: 25px;
  }
  .info-footer div h2 {
    font-size: 18px;
  }
  .info-footer div p {
    font-size: 14px;
  }
  .redes-sociales a img {
    width: 4.6875rem;
  }
  .titulo-footer {
    padding-top: 4.29px;
  }
  /* ----- MAIN INDEX ------- */
  .contenedor {
    margin-left: 3.125rem;
    margin-right: 3.125rem;
    padding: 10px;
  }
  .contenedor img {
    width: 40%;
  }
  .contenedor article p {
    font-size: 18px;
    padding-top: 5px;
    margin: 10px;
  }
  /* ----- MAIN SERVICIOS ------- */
  .contenedor div article {
    flex-direction: column;
    align-items: center;
  }
  .contenedor div video {
    width: 100%;
  }
  .contenedor div p {
    margin-left: 0px;
    margin-top: 0.625rem;
  }
  .contenedor div div p {
    font-size: 16px;
  }
  .lista-trabajos dl dt {
    font-size: 16px;
  }
  .lista-trabajos dl dd {
    font-size: 16px;
  }
  /* ------ MAIN SUCURSALES 768 ------ */
  .grid2 div img {
    height: 6.25rem;
    width: 80%;
    object-fit: cover;
  }
  .grid2 div iframe {
    margin-top: 0.9375rem;
    width: 80%;
    height: 200px;
  }
  /* ------ GALERIA 768 ------ */
  .galeria {
    margin-top: 1.5625rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "div1 div1" "div2 div3" "div4 div3" "div5 div6";
  }
}
/* ---- MediaQuerry 425 ---- */
@media (max-width: 425px) {
  /* ----- HEADER 425 ------ */
  header nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #8BA76C;
    padding: 0.625rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.404);
    z-index: 5;
  }
  header nav ul {
    flex-direction: column;
    align-items: center;
    margin: 0px;
  }
  header nav ul li {
    padding: 5px;
    margin: 0px 0px 10px 0px;
  }
  .abrir-menu,
  .cerrar-menu {
    display: block;
    padding: 5px;
    border: 0;
    font-size: 20px;
    background-color: transparent;
  }
  .nav.visible {
    opacity: 1;
    visibility: visible;
  }
  /* ------ FOOTER 425 -------- */
  footer {
    padding: 0px, 0px;
    flex-direction: column;
    align-items: center;
  }
  .info-footer {
    padding: 0.1875rem;
    margin: 0px;
  }
  .info-footer div {
    margin: 0px 5px;
  }
  .info-footer div img {
    width: 1.5625rem;
  }
  .info-footer div h2 {
    font-size: 14px;
  }
  .info-footer div p {
    font-size: 12px;
  }
  .redes-sociales {
    margin: 0px;
  }
  .redes-sociales a img {
    width: 70px;
  }
  /* ------- MAIN INDEX 425 -------- */
  .contenedor img {
    width: 50%;
  }
  .contenedor article p {
    font-size: 14px;
    padding-top: 5px;
    margin: 10px;
  }
  /* -------- MAIN SERV 425 ----------- */
  .contenedor div div p {
    font-size: 12px;
  }
  .lista-trabajos dl dt {
    font-size: 14px;
  }
  .lista-trabajos dl dd {
    font-size: 14px;
  }
  /* ------ MAIN SUC 425 ------- */
  .main-ns div div h1 {
    font-size: 22px;
  }
  .grid2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .grid2 div {
    position: relative;
    width: 100%;
    max-width: 500px; /* Ajusta el tamaño máximo según tus necesidades */
    background: url("../assets/Img/cartel_serenfolia.jpg") no-repeat center center;
    background-size: cover;
    text-align: center;
  }
  .grid2 div h2 {
    width: 100%;
    background-color: rgba(172, 172, 172, 0.7058823529);
  }
  .grid2 div img {
    display: none;
  }
  .grid2 div iframe {
    display: none;
  }
  .grid2 div p {
    width: 100%;
    background-color: rgba(217, 217, 217, 0.7058823529);
    padding: 30px 10px;
    font-size: px;
    font-weight: 800;
  }
  /*----- MAIN CONTACTO 425 ------- */
  .main-contacto div h1 {
    font-size: 24px;
  }
  .main-contacto form h2 {
    font-size: 20px;
  }
  .grid3 {
    margin: 0px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "cont1" "cont2";
  }
  .grid3 div {
    margin: 10px;
  }
  .grid3 div img {
    width: 1.875rem;
  }
  .grid3 div div {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    align-items: start;
  }
  .grid3 div div h3 {
    font-size: 16px;
  }
  .grid3 div div p {
    font-size: 12px;
  }
  /* ---- FORM CONTACTO 425 ----- */
  .texto-titul {
    font-size: 20px;
  }
  .formulario {
    width: 300px;
    height: 570px;
  }
  .formulario p label input {
    width: 220px;
    height: 10px;
    padding: 15px;
  }
  .formulario p label textarea {
    width: 220px;
    height: 100px;
    padding: 15px;
  }
  .boton-enviar2 {
    padding: 10px 25px;
    margin-right: 0px;
    float: right;
  }
}

/*# sourceMappingURL=styles.css.map */
