/* -------- MAIN SUCURSALES --------- */

.main-ns{
    background: url(../../assets/Img/fondo3-3.png);
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen en la página */
    background-repeat: no-repeat;
}

.grid2{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-column-gap: .125rem;
    grid-row-gap: .125rem;

    grid-template-areas: 
    "suc1 suc2"
    "suc3 suc4";

    div{
        position: relative;
        margin: 1.25rem;

        display: flex; /* Añadir flexbox */
        flex-direction: column; /* Alinear elementos en columna */
        justify-content: center; /* Centrar verticalmente */
        align-items: center; /* Centrar horizontalmente */
        text-align: center; /* Centrar el texto */
        
        h2 {
            color:black;
            font-family: "Lato", sans-serif;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            padding: 20px 20px;

            display: flex;
            flex-direction: column;
            align-items: center;
        }

        img{
            height: 6.25rem;
            width: 20rem;
            object-fit: cover;
        }

        iframe{
            margin-top: .9375rem;
            margin-bottom: .9375rem;
            width: 20rem;
            height: 18.875rem;
        }
    }
}

.suc1{ grid-area: suc1;}
.suc2{ grid-area: suc2;}
.suc3{ grid-area: suc3;}
.suc4{ grid-area: suc4;}

