/* -------- MAIN SERV 425 ----------- */

.contenedor{
    div{
        div{
            p{
                font-size: 12px;
            }
        }
    }
}

.lista-trabajos{
    dl{
        dt{
            font-size: 14px;
        }
        dd{
            font-size: 14px;
        }
    }
}