/* ------- MAIN INDEX 425 -------- */

.contenedor{

    img{
        width: 50%;
    }

    article{
        p{
            font-size: 14px;
            padding-top: 5px;
            margin: 10px;
        }
    }
}