/* ------ GALERIA 768 ------ */

.galeria{
    margin-top: 1.5625rem;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: 
    "div1 div1"
    "div2 div3"
    "div4 div3"
    "div5 div6" ;
}
