/* ------- FOOTER 768 --------- */

.info-footer{
    padding: .1875rem;
    margin: .3125rem;

    div {
        img {
            width: 25px;
        }
        h2{
            font-size: 18px;
        }
        p{
            font-size: 14px;
        }
    }
}

.redes-sociales{
    a{
        img{
            width: 4.6875rem;
        }
    }

}

.titulo-footer{
    padding-top: 4.29px ;
}