/* ------ MAIN SUCURSALES 768 ------ */

.grid2{
    div{

        img{
            height: 6.25rem;
            width: 80%;
            object-fit: cover;

        }
        iframe{
            margin-top: .9375rem;
            width: 80%;
            height: 200px;
        }
    }
}
