/* ----- MAIN SERVICIOS ------- */


.contenedor{
    div{
        article{
            flex-direction: column;
            align-items: center;
        }

        video{
            width: 100%;
        }
    
        p{
            margin-left: 0px;
            margin-top: .625rem;
        }

        div{
            p{
                font-size: 16px;
            }
        }
    }
}

.lista-trabajos{
    dl{
        dt{
            font-size: 16px;
        }
        dd{
            font-size: 16px;
        }
    }
}
