/* ----- MAIN INDEX ------- */ 

.contenedor{
    margin-left: 3.125rem;
    margin-right: 3.125rem;
    padding: 10px;

    img{
        width: 40%;
    }

    article{
        p{
            font-size: 18px;
            padding-top: 5px;
            margin: 10px;
        }
    }
}